@import url(./variables.css);
*{box-sizing: border-box;}

.testgrid{
    background-color: var(--main-color);
}

.img-1x1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align:center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: var(--img-block);
    height: var(--img-block);
    overflow: hidden;
    text-align:center;
    
}
.img-2x1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align:center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: calc((var(--img-block) * 2) + 1rem);
    height: var(--img-block);
    overflow: hidden;
    text-align:center;
    grid-column: span 2 / auto;
}
.img-1x2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align:center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: var(--img-block);
    height: calc((var(--img-block) * 2) + 1rem);
    overflow: hidden;
    text-align:center;
    
    grid-row: span 2 / auto;
    
}
.img-2x2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align:center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: calc((var(--img-block) * 2) + 1rem);
    height: calc((var(--img-block) * 2) + 1rem);
    overflow: hidden;
    
    grid-column: span 2 / auto;
    grid-row: span 2 / auto;
}

.img-1x1 img{
    width: 100%;
    height: auto;
}

.img-1x2 img{
    width: 170%;
    height: auto;
    
}

.img-2x1 img{
    width: 180%;
    height: auto;
    
}

.img-2x2 img{
    width: 200%;
    height: auto;
    
}

#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--img-block));
    grid-auto-rows: var(--img-block);
    grid-auto-flow: row dense;
    gap: 1rem;
    width: 90%;
    height:auto;
    margin: auto;

}

#image-modal{
    display: grid;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: hsl(100, 50%, 50%, 0.5);
}

#modal-content{
    max-width: 90%;
    max-height: 90vh;
    margin: auto;
}

#image-modal.hidden {
    display: none;
}

#wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}