@import url(./variables.css);

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

h1 {
  margin-top: 9rem;
  color: var(--accent-4);
  font-size: 4rem;
  font-family: var(--heading);
}

h2,
h3 {
  color: var(--accent-2);
  font-size: 2.5rem;
  font-family: var(--sub-heading);
}

h3 {
  color: var(--bg-color);
  font-size: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header img {
  transition: width 300ms;
  width: 30rem;
}

p,
a,
li {
  color: var(--font-color-light);
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-family: var(--text);
}

.img-1x1,
.img-1x2,
.img-2x1,
.img-2x2,
.img-1x3,
.img-2x3,
.img-3x1,
.img-3x3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: start;
  overflow: hidden;
  text-align: center;
  background-color: var(--little-darker);
}

.img-1x1 {
  width: var(--img-block);
  height: var(--img-block);
}

.img-2x1 {
  width: calc((var(--img-block) * 2) + 1rem);
  height: var(--img-block);
  grid-column: span 2 / auto;
}

.img-1x2 {
  width: var(--img-block);
  height: calc((var(--img-block) * 2) + 1rem);
  grid-row: span 2 / auto;
}

.img-2x2 {
  width: calc((var(--img-block) * 2) + 1rem);
  height: calc((var(--img-block) * 2) + 1rem);
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
}

.img-1x3 {
  width: var(--img-block);
  height: calc((var(--img-block) * 3) + 2rem);
  grid-column: span 1 / auto;
  grid-row: span 3 / auto;
}

.img-2x3 {
  width: calc((var(--img-block) * 2) + 1rem);
  height: calc((var(--img-block) * 3) + 2rem);
  grid-column: span 2 / auto;
  grid-row: span 3 / auto;
}

.img-3x3 {
  width: calc((var(--img-block) * 3) + 2rem);
  height: calc((var(--img-block) * 3) + 2rem);
  grid-column: span 3 / auto;
  grid-row: span 3 / auto;
}

.img-3x1 {
  width: calc((var(--img-block) * 3) + 2rem);
  height: var(--img-block);
  grid-column: span 3 / auto;
}

.img-1x1 img,
.img-1x2 img,
.img-2x1 img,
.img-2x2 img,
.img-1x3 img,
.img-2x3 img,
.img-3x1 img,
.img-3x3 img {
  height: auto;
}

.img-1x1 img {
  width: 170%;
}

.img-1x2 img {
  width: 170%;
}

.img-2x1 img {
  width: 180%;
}

.img-2x2 img {
  width: 200%;
}

.img-1x3 img {
  width: 300%;
}

.img-2x3 img {
  width: 200%;
}

.img-3x1 img {
  width: 180%;
}

.img-3x3 img {
  width: 200%;
}

main {
  background-color: var(--main-color);
  width: 95%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--img-block), 1fr));
  grid-auto-rows: var(--img-block);
  grid-auto-flow: row dense;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
}

main > section > h2 {
  text-align: center;
  margin: auto;
  color: var(--accent-4);
  margin-bottom: 4rem;
}

#image-modal {
  display: grid;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--modal-bg-color);
}

#modal-content {
  max-width: 90%;
  max-height: 90vh;
  margin: auto;
  transform: scale(1);

  border: 1rem var(--modal-img-bg) solid;
  border-radius: 1rem;
  background-color: var(--modal-img-bg);
}

#image-modal.hidden {
  display: none;
}

#contact-links {
  margin-top: 3rem;
}

.hidden {
  display: none;
}

#wrapper {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--accent-3);
  border-bottom: 2px var(--accent-3) solid;
  transition: all 100ms ease-in-out;
}

#pdf-link::before {
  content: url("https://api.iconify.design/bi/file-earmark-pdf-fill.svg?color=%23e8866c&width=40");
  vertical-align: -0.6rem;
}

.img-grow {
  -webkit-animation: img-grow 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: img-grow 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.opacity-grow {
  -webkit-animation: opacity-grow 0.2s;
  animation: opacity-grow 0.2s;
}

a:hover {
  border-bottom: 4px var(--accent-3) solid;
}

.heart {
  color: var(--accent-4);
}

nav li {
  font-weight: 800;
  list-style: none;
  margin: 0.1rem;
  text-align: center;
}

nav li a {
  display: inline-block;
  color: var(--bg-color);
  background-color: var(--accent-1);
  border-bottom: none;
  padding: 0.7rem;
  margin: 0.2rem 0;
  width: 100%;
  border-radius: 0.5rem;
}

#menu-checkbox:checked ~ ul {
  display: block;
  height: fit-content;
}

nav li a p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  color: var(--bg-color);
}

nav li a {
  padding: 0;
  height: 2rem;
  width: 3rem;
}

#menu-checkbox2:checked ~ nav {
  right: 1rem;
}

.scale-in {
  -webkit-animation: scale-in-ani 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ani 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out {
  -webkit-animation: scale-out-ani 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-out-ani 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modal-bg-fade-in {
  -webkit-animation: modal-bg-fade-out-ani 200ms
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: modal-bg-fade-in-ani 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.modal-bg-fade-out {
  -webkit-animation: modal-bg-fade-out-ani 200ms
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: modal-bg-fade-out-ani 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

#walking-model img {
  width: 800%;
}

#lamia img {
  width: 400%;
}

#supermassive img {
  width: 300%;
}

#gallery-btns {
  text-align: center;
  margin-bottom: 2rem;
}

#gallery-btns input {
  display: none;
}

#gallery-btns label {
  font-size: 2rem;
  padding: 1rem 1rem;
  font-family: var(--sub-heading);
  font-weight: 900;
  border-radius: 1rem;
  user-select: none;
}

label[for="render-gallery"] {
  background-color: var(--accent-7);
}

label[for="drawing-gallery"] {
  background-color: var(--accent-8);
}

label.clicked {
  background-color: var(--bg-color-2);
}

#contact-links a {
  border-bottom: none;
  margin: 0 1rem;
}

/* s */
#menu-checkbox2 {
  display: none;
}

nav li a {
  height: 100%;
  width: 100%;
}

nav li p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  color: var(--bg-color);
  text-align: center;
}

nav ul li {
  visibility: hidden;
  padding: 0;
  height: 2rem;
  width: 3rem;
  opacity: 0;
  height: 4rem;
  width: 4rem;
  transition: opacity 600ms;
}

nav {
  display: block;
  position: fixed;
  z-index: 1;
  padding: 0.5rem;
  background-color: var(--accent-2);
  right: 4vw;
  left: unset;
  top: 5vh;
  text-align: center;
  border-radius: 1.5rem;
  width: fit-content;
}

nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  height: 0;
  margin: auto;
  width: fit-content;
  transition: height 600ms;
}

#menu-checkbox2:checked ~ ul {
  height: 40vh;
}

#menu-checkbox2:checked + ul li {
  visibility: visible;
  opacity: 1;
}

nav li a .iconify {
  position: relative;
  top: 30%;
}

.desktop-options {
  display: none;
}

#proficiencies img {
  width: 100%;
}

#prof-header {
  text-align: center;
  color: var(--accent-4);
}

#prof-images > div,
#contact-images > div {
  text-align: center;
  margin: 1rem;
  width: 5rem;
  display: inline-block;
  position: relative;
}

#prof-images > div > img:hover ~ div.pop-up,
#contact-images > div > a:hover ~ div.pop-up {
  opacity: 1;
  visibility: visible;
}

#prof-images {
  text-align: center;
  margin: auto;
}

.pop-up {
  position: absolute;
  z-index: 1;
  top: -180%;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms, visibility 300ms;
  transform: translateX(-26%);
  width: fit-content;
}

.pop-up p {
  color: var(--bg-color);
  font-size: 1.8rem;
  white-space: nowrap;
}

#csp .pop-up {
  transform: translateX(-36%);
  top: -190%;
}

#subs-paint .pop-up {
  transform: translateX(-39%);
  top: -150%;
}

#prof-images > div:nth-of-type(odd) > .pop-up {
  background-color: var(--accent-2);
}

#prof-images > div:nth-of-type(even) > .pop-up {
  background-color: var(--accent-7);
}

#prof-images > div:nth-of-type(odd) > .pop-up::after {
  border-color: var(--accent-2) transparent;
}

#prof-images > div:nth-of-type(even) > .pop-up::after {
  border-color: var(--accent-7) transparent;
}

.pop-up::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 20px 20px 0;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
}

#about .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

main p {
  color: var(--bg-color);
  line-height: 1.4em;
  font-size: 1.4rem;
}

#about-pic,
#about-text {
  width: 90%;
  margin: 0 auto;
}

#about figure img {
  width: 100%;
  border-radius: 1rem;
}

#about figcaption p {
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0.2rem;
  font-style: italic;
}

#about-text {
  text-align: left;
  text-indent: 1em;
}

#about-text p:first-of-type {
  margin-top: 0;
}

main {
  overflow: hidden;
}

main > section:target ~ section:last-child,
main > section {
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  transition: opacity 500ms;
}

/* :last-child works, but .page:last-child will not */
main > :last-child,
main > section:target {
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: opacity 500ms;
  padding: 5%;
}

.emphasize {
  color: var(--accent-4);
  font-style: italic;
}

.project-grid > section {
  width: 50%;
}

.project-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  height: fit-content;
  padding: 0;
  margin-bottom: 1rem;
}

.project-images {
  grid-template-columns: repeat(3, var(--img-block));
  height: fit-content;
}

#example-project {
  background-color: var(--accent-7);
}

#example-project-2 {
  background-color: var(--accent-4);
}

#project-wrapper h2 {
  text-align: center;
}

#contact-images > div {
  display: inline;
  margin: 0 1rem;
}

#contact-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 30vh;
  margin: 0 auto;
}

#contact-images > div:nth-of-type(odd) .iconify {
  color: var(--accent-5);
}

#contact-images > div:nth-of-type(even) .iconify {
  color: var(--accent-6);
}

#contact-images > div:nth-of-type(odd) > .pop-up {
  background-color: var(--accent-1);
}
#contact-images > div:nth-of-type(even) > .pop-up {
  background-color: var(--accent-2);
}

#contact-images > div:nth-of-type(odd) > .pop-up::after {
  border-color: var(--accent-1) transparent;
}

#contact-images > div:nth-of-type(even) > .pop-up::after {
  border-color: var(--accent-2) transparent;
}

#contact a {
  border-bottom: unset;
}

#art-station .pop-up {
  transform: translateX(-32%);
}

@media (min-width: 1080px) {
  #about .flex section,
  #about .flex figure {
    width: 40%;
  }

  .desktop-options {
    display: block;
  }

  header img {
    width: 100%;
  }

  #heading-content {
    position: fixed;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    top: unset;
    left: unset;
    right: unset;
    position: relative;
    display: block;
  }

  nav ul,
  nav #menu-checkbox2:checked ~ ul {
    height: 62vh;
    width: 5rem;
    margin: auto;
  }

  nav ul li {
    visibility: visible;
    opacity: 1;
    display: block;
    margin: auto;
    height: 3rem;
    width: 3rem;
  }

  header {
    width: 15rem;
  }

  header h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }

  #contact-links {
    display: none;
  }

  #menu-button2 {
    display: none;
  }

  #wrapper {
    margin-left: 16rem;
    display: block;
  }
}

html {
  visibility: visible;
  opacity: 1;
}
