:root{
    --main-color: #F8ECDE;
    --accent-1: #828E8C;
    --accent-2: hsl(104, 14%, 79%);
    --accent-3: #E8866C;
    --bg-color: #494546;

    --font-color-light: #F8ECDE;
    --font-color-dark: #494546;

    --modal-bg-transparent: hsl(104, 14%, 79%, 0);
    --modal-bg-color: hsl(104, 14%, 79%, 0.5);

    --img-block: 7rem;
}